# triplewave port
port=8114
# host
hostname=131.175.141.249
# root path
path=/TripleWave-transform

# external address (use in case of proxy)
externaladdress=131.175.141.249/TripleWave-transform

mode=replay

# endpoint for the websocket
ws_stream_location=/TripleWave-transform/stream
ws_port=8124

# where is possobile to connect to the wesbsocket (should match you apache / ngix configuration)
ws_address=ws://131.175.141.249/TripleWave-transform/stream

sources=triples

#fuseki endpoint
rdf_query_endpoint=http://localhost:3030/ds/query
rdf_query_folder=examples/sparql

rdf_update_endpoint=http://localhost:3030/ds/update

#path to the file
rdf_file=../rdf/data.ttl

#stream item pattern
rdf_stream_item_pattern=?key <http://knoesis.wright.edu/ssw/ont/sensor-observation.owl#samplingTime> ?time . ?time <http://www.w3.org/2006/time#inXSDDateTime> ?ts
rdf_stream_item_content_pattern=?key ?p ?o

# location of the tbox
tbox_stream_location=http://purl.oclc.org/NET/ssnx/ssn
